body {
  background-color: #D5DEE7; 

}
/*******************************************************
HEADER
********************************************************/
header nav {
	background-color: #344563;
	z-index:999;
}
header #nav-mobile, .collapsible, .collapsible-body{
	background-color: #344563;
}
header .collapsible-body ul{
	background-color: #44597F;
}
header ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active { 
	background-color: #3d5074;
}
header ul.side-nav.fixed{
    overflow-y: auto; 
}
header #nav-mobile .logo {
	height: 240px;
	background-color: #F2F6F9;
	font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding-top: 90px;
}
header #nav-mobile .logo h1 {
    font-size: 2rem;
    font-weight: 300;
}
header .profile-image {
    text-align: center;
    margin-top: -75px;
    margin-bottom: 20px;
}
header .profile-image img {
    height: 150px;
    border: 5px solid #F2F6F9;
    border-radius: 150px;
    background-color: #F2F6F9;
}
header #nav-mobile li {
	line-height: 54px;
}
header #nav-mobile i {
	font-size: 2.5rem;
	vertical-align:middle;
	margin-right: 10px;
}
header #nav-mobile a, .collapsible-header {
	color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
}
/*******************************************************
MAIN
********************************************************/
main {
	padding-top: 52px;
	margin-left: 240px;
}
main .container {
}
@media only screen and (max-width : 992px) {
	main {
		margin-left: 0px; 
		padding-top: 12px;}
	main .container {
		padding: 0px;
		width: 95%; }
}
@media only screen and (min-width : 993px) {
	.container {
		width: 95%; }
}
main .card {
	background-color: #F2F6F9;
}
main .card .card-image {
	height: 250px;
}
@media only screen and (max-width : 992px) {
	main .card .card-image {
		height: 200px; }
}
.card .card-image img {
	max-height: 200%;
	max-width: 200%;
}
main .card .card-content{
	height: 200px;
	overflow: hidden;
    text-overflow: ellipsis;
}
main .card .card-reveal {
	width: 100%;
}
main .card-action a{
	color: #455A64;
	font-weight: 500;
	font-size: 1.1rem;
}
main .card-action a:hover{
	color: #768db8;
}
main .card .readmore{
	font-weight: 500;
	font-size: 0.9rem;
	color: #455A64;
}
main .card .readmore:hover{
	color: #768db8;
}
main .card .card-content .card-title {
    line-height: 36px; 
}
main .card .delele {
	position: absolute;
	top: 0;
	right: 0px;
	padding-right: 12px;
	font-size: 2.2rem;
	width: 100%;
	z-index: 1;
	color: white;
	background-color: #000;
	opacity: 0.7;
}
main .card .card-reveal {
	z-index: 3;
}
main .card .card-reveal .overflow{
	height: 92%;
	overflow-y: auto;
}
main .card .card-close {
	position: absolute;
	top:2px; 
	right:2px
}
main .profile {
	margin-top: 30px;
}
main .profile .h1 {
	font-size: 1.1rem;
}
main .profile .h2 {
	font-size: 1.4rem;
}
main .line {
	border: 1px solid #B6BEC5;
	margin: 10px 0px;
}
main .profile p i{
	font-size: 1.5rem;
	vertical-align:middle;
	line-height: 0;
}
/*******************************************************
COMPONENT
********************************************************/
.my-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
}
.my-modal-dialog {
    padding: 10px 24px;
 	max-height: 90%;
  	max-width: 55%;
    margin: 0px auto;
    background-color: #eee;
    overflow-y: auto;
  	z-index: 1002;
  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
	will-change: top, opacity;
}
@media only screen and (max-width : 992px) {
    .my-modal-dialog  {
      	max-width: 95%; } 
}
.my-modal-close { 
	position: absolute;
	top: 0;
	right: 0;	
}
.my-modal-dialog  h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0; 
}
#admin-edit-profile .my-modal-dialog img {
	width: 100%;
	border: 5px solid #455A64;
}
.admin-modal {
	width: 550px;
}
.addport-modal {
	width: 550px;
}
.contactme-modal {
	width: 500px;
}
.upload-image-profile {
	max-width: 100%;
	display : block;
	margin-top: 5px;
	margin-bottom: 10px;
}
.hide{
	display: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textLeft {
	text-align: left;
}
.textRight {
	text-align: right;
}
.textCenter {
	text-align: center;
}
.pLeft { /* Profile model */
	padding: 0px !important;
	padding-right: 10px !important;
}
.mfp-bg { /* Gallery overlay */
  opacity: 0.95 !important;
  filter: alpha(opacity=95) !important; 
}
.input-field .prefix.active { /* Contact me color*/
color: #455A64;
}