body {
  background-color: #D5DEE7; 
}
main {
	padding-top: 48px;
	padding-left: 200px;
}
@media only screen and (max-width : 600px) {
	main {
		padding-left: 0px; 
		padding-top: 64px;}
	main .container {
		padding: 0px;
		width: 95%; }
}
@media only screen and (min-width : 993px) {
	.container {
		width: 95%; }
}
header nav {
	background-color: #344563;
	z-index:999;
}
header #nav-mobile{
	background-color: #344563;
}
header ul.side-nav.fixed li:hover {
	background-color: #3d5074;
}
header ul.side-nav.fixed{
    overflow-y: auto; 
}
header #nav-mobile .logo {
	height: 240px;
	background-color: #F2F6F9;
	font-size: 2rem;
    font-weight: 300;
}
header #nav-mobile .logo h1 {
    font-size: 2rem;
    font-weight: 300;
}
header .profile-image {
    text-align: center;
    margin-top: -75px;
    margin-bottom: 20px;
}
header .profile-image img {
    height: 150px;
    border: 5px solid #F2F6F9;
    border-radius: 150px;
    background-color: #F2F6F9;
}
header #nav-mobile li {
	line-height: 64px;
}
header #nav-mobile i {
	font-size: 2.5rem;
	vertical-align:middle;
	margin-right: 10px;
}
header #nav-mobile a {
	color: #fff;
    font-size: 1rem;
    font-weight: 300;
}
main .card {
	background-color: #F2F6F9;
}
main .profile {
	margin-top: 30px;
}
main .profile .h1 {
	font-size: 1.1rem;
}
main .profile .h2 {
	font-size: 1.4rem;
}
main .line {
	border: 1px solid #B6BEC5;
	margin: 10px 0px;
}
main .profile p i{
	font-size: 1.5rem;
	vertical-align:middle;
	line-height: 0;
}
.my-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
}
.my-modal-dialog {
    padding: 10px 24px;
 	max-height: 80%;
  	max-width: 55%;
    margin: 30px auto;
    background-color: #eee;
    overflow-y: auto;
  	z-index: 1002;
  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-clip: padding-box;
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
	will-change: top, opacity;
}
@media only screen and (max-width : 992px) {
    .my-modal-dialog  {
      	max-width: 95%; } 
}
.my-modal-close { 
	position: absolute;
	top: 0;
	right: 0;	
}
.my-modal-dialog  h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0; 
}
.left {
	float: left;
}
.right {
	float: right;
}
.textLeft {
	text-align: left;
}
.textRight {
	text-align: right;
}
.textCenter {
	text-align: center;
}




