body {
  background-color: #D5DEE7; 
}
main {
	padding-top: 48px;
	padding-left: 200px;
}
@media only screen and (max-width : 600px) {
	main {
		padding-left: 0px; 
		padding-top: 0px;}
	main .container {
		padding: 0px;
		width: 95%; }
}
@media only screen and (min-width : 993px) {
	.container {
		width: 95%; }
}
header nav {
	background-color: #344563;
}
header #nav-mobile{
	background-color: #344563;
}
header ul.side-nav.fixed li:hover {
	background-color: #3d5074;
}
header ul.side-nav.fixed{
    overflow-y: auto; 
}
header #nav-mobile .logo {
	height: 240px;
	background-color: #F2F6F9;
	font-size: 2rem;
    font-weight: 300;
}
header #nav-mobile .logo h1 {
    font-size: 2rem;
    font-weight: 300;
}
header .profile-image {
    text-align: center;
    margin-top: -75px;
    margin-bottom: 20px;
}
header .profile-image img {
    height: 150px;
    border: 5px solid #F2F6F9;
    border-radius: 150px;
    background-color: #F2F6F9;
}
header #nav-mobile li {
	line-height: 64px;
}
header #nav-mobile i {
	font-size: 2.5rem;
	vertical-align:middle;
	margin-right: 10px;
}
header #nav-mobile a {
	color: #fff;
    font-size: 1rem;
    font-weight: 300;
}
main .card {
	background-color: #F2F6F9;
}
main .profile {
	margin-top: 30px;
}
main .profile .h1 {
	font-size: 1.1rem;
}
main .profile .h2 {
	font-size: 1.4rem;
}
main .line {
	border: 1px solid #B6BEC5;
	margin: 10px 0px;
}
main .profile p i{
	font-size: 1.5rem;
	vertical-align:middle;
	line-height: 0;
}
.custom-btn {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
 	margin: 0;
    margin-left: 3rem;
    display: inline-block;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
